apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: validacao-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: validacao
  namespaceSelector:
    matchNames:
      - producao
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s