apiVersion: v1
kind: Service
metadata:
  name: validacao-service
  namespace: producao
  labels:
    app: validacao
spec:
  selector:
    app: validacao
  ports:
    - name: http
      protocol: TCP
      port: 8087
      targetPort: 8087
      nodePort: 31002
  type: LoadBalancer